<p id="notice"><%= notice %></p>
<nav>
  <ul>
    <li><a href="<%= active_path %>">Active Bugs</a></li>
    <li><a href="<%= archived_path %>">Archived Bugs</a></li>
  </ul>
</nav>
<h1>Listing Bugs</h1>

<%= render "display", object: @bugs %>

<br>

<%= link_to 'New Bug', new_bug_path %>
